

table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

th, td {
    border: 1px dotted #00BFFF;
    padding: 8px;
}

th {
    background-color: #f0f8ff;
}